<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossBrowserSuite">
  <listeners>
  	<listener class-name="listner.Listner"/>
  </listeners>
  <test name="temp">
	  <parameter name="browser" value="firefox"/>
	  <parameter name="os" value="Linux"/>
	  <parameter name="user" value="standard_user"/>
	  	<classes>
	  		<class name="tests.LoginTest"/>
	  	</classes>
  </test>
  <!--
  <test name="ChromeTestWithStandard">
  java -jar selenium-server-4.40.0.jar standalone
  	<classes>
  		<class name="tests.ProductCatalogTest"/>
  		<class name="tests.CartTest"/>
  		<class name="tests.LoginTest"/>
  		<class name="tests.ProductPageTest"/>
  		<class name="tests.CheckOutTest"/>
  		<class name="tests.ValidEndToEndTest"/>
  	</classes>
  </test>
  
  <test name="ChromeTestWithProblem">
    <parameter name="browser" value="chrome"/>
    <parameter name="user" value="problem_user"/>
  	<classes>
  		<class name="tests.LoginTest"/>
  		<class name="tests.ProductCatalogTest"/>
  		<class name="tests.CartTest"/>
  		<class name="tests.ProductPageTest"/>
  		<class name="tests.CheckOutTest"/>
  		<class name="tests.ValidEndToEndTest"/>
  	</classes>
  </test> -->
</suite>
